<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paper delivery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <header class='site-heading'>
      <h1>Paperboys</h1>
      <h3><a href="{% url 'home' %}">Home</a></h3>
    </header>
    <main>
        <h2>{{profile.name}}</h2>
        <hr />
        <p>I have {{profile.experience}} experience</p>
        <p>I have earned ${{profile.earnings}}</p>
    </main>
  </body>
</html>
